/* CSS Document - FRONT-END GLOBAL */
/* COMPASS */
/* BASE */
/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Grid
 * File: Content
 */
/* BOX MODEL */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_reset\.scss}line{font-family:\000039}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Sass - Compass */
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_reset\.scss}line{font-family:\0000321}}
html, body,
div, span,
h1, h2, h3, h4, h5, h6,
p,
pre, code,
img,
dl, dt, dd,
ol, ul, li,
img {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  /* for headings, works */
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_reset\.scss}line{font-family:\0000329}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_reset\.scss}line{font-family:\0000331}}
img {
  max-width: 100%;
  height: auto;
  /* The height is added to ensure the aspect ratio of the image is retained. */
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_reset\.scss}line{font-family:\0000339}}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: #000;
}

/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Grid
 * File: Sass
 */
/* 
 * VARIABLES - Colors 
 */
/* white */
/* 
 * VARIABLES - Media-Query Break-points
 */
/* 
 * VARIABLES - Spacing
 */
/* 
 * VARIABLES - Font-Size
 */
/* 
 * MIXINS - LAYOUT - Responsive
 */
/* 
 * MIXINS - LAYOUT - Padding
 */
/* 
 * CLASS EXTENDS - LAYOUT - Clearfix
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_sass\.scss}line{font-family:\0000384}}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_sass\.scss}line{font-family:\0000392}}
* html .clearfix {
  zoom: 1;
}

/* IE6 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_sass\.scss}line{font-family:\0000393}}
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Grid
 * File: Typography
 */
/* 
* SASS - VARIABLES - FONTS - "IMPORT" GOOGLE FONTS
*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000342}}
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000349}}
a,
a:visited,
a:hover {
  text-decoration: none;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000355}}
h1, h2 {
  font-weight: normal;
  font-weight: 300;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000365}}
.section_title {
  font-size: 48px;
  margin: 40px 0;
  color: #212121;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000371}}
.section_description {
  font-size: 34px;
  margin: 40px 0;
  color: #727272;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_typography\.scss}line{font-family:\0000377}}
.section_separator {
  font-size: 28px;
  margin: 40px 0;
  color: #727272;
}

/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Reset
 * File: Layout
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_layout\.scss}line{font-family:\000038}}
body {
  background-color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_layout\.scss}line{font-family:\0000317}}
header, footer {
  background-color: #009688;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_layout\.scss}line{font-family:\0000322}}
.frame {
  margin-left: auto;
  margin-right: auto;
  /* max-width:1300px; */
  max-width: 1140px;
  min-width: 320px;
  padding-left: 24px;
  padding-right: 24px;
}

@media only screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/base\/_layout\.scss}line{font-family:\0000334}}
  .frame {
    padding-left: 12px;
    padding-right: 12px;
  }
}
/* COMPONENTS */
/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Grid
 * File: Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_header\.scss}line{font-family:\000037}}
header {
  border-top: 24px solid #00796b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_header\.scss}line{font-family:\0000310}}
header .inner {
  padding: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: hidden;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_header\.scss}line{font-family:\0000320}}
#main_logo {
  float: left;
  font-size: 34px;
  color: #fff;
  /*
  @include f_roboto_light;
  font-weight: 300 !important;		
  */
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_header\.scss}line{font-family:\0000330}}
#slogan {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 20px;
  color: #fff;
}
@media only screen and (max-width: 599px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_header\.scss}line{font-family:\0000335}}
  #slogan span {
    display: block;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_header\.scss}line{font-family:\0000339}}
#slogan a {
  color: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_header\.scss}line{font-family:\0000341}}
#slogan a:hover {
  color: #00bcd4;
}

@media only screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_header\.scss}line{font-family:\0000351}}
  #main_logo {
    float: none;
    text-align: center;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_header\.scss}line{font-family:\0000355}}
  #slogan {
    position: relative;
    text-align: center;
    bottom: 3px;
  }
}
/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Grid
 * File: Footer
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_footer\.scss}line{font-family:\000037}}
footer {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_footer\.scss}line{font-family:\0000310}}
footer .inner {
  overflow: hidden;
  padding: 12px;
  text-align: center;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_footer\.scss}line{font-family:\0000321}}
.footerContent {
  font-size: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_footer\.scss}line{font-family:\0000324}}
.footerContent span {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_footer\.scss}line{font-family:\0000327}}
.footerContent img {
  width: 86px;
  vertical-align: middle;
}

/*
 * Author: Carl Johansson @carlwebdev
 * Project: cowo-Grid
 * File: Content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/components\/_content\.scss}line{font-family:\000037}}
main {
  padding-top: 48px;
  padding-bottom: 48px;
}

/* FOR THE RESPONSIVE BEHAVIOUR */
/* 
*
*	cowoGRID - a responsive Grid Framework with Sass
*	by Carl Johansson (@lo_kal)
*/
/* CSS Document - SASS FUNCTION TO CALCULATE COLUMN-WIDTHS */
/* 
STEP 1 - Define the gutter-width (gutterwidth )
*/
/* LEAVE THIS OUTSIDE AS ITS GENERIC */
/* !!!!!!!!!!!!! MAYBE GUTTER WIDTH CAN BE CHANGED AT BREAKPONT, AND THEN ADD A CSS TRANSITION TO THESE CHANGES IN WIDTH.... */
/* 
STEP 2 - Create a function to determine the column width (%) in each scenario 
The 1st variable is the gutterwidth defined in Step 1, the second variable is the number of columns (cnumber) 
*/
/* 
STEP 3 - Create a function to determine the width of an element that comprises n columns and n-1 gutters / osea, una fraccción no nth. 
*/
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\0000353}}
.row {
  overflow: hidden;
  /* VS CLEARFIX - could be jquery to add clearfix class to each row class, but its unnecessary... */
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\0000360}}
.col {
  float: left;
  margin-bottom: 2%;
  /* DEMO */
}
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\0000364}}
.col:last-of-type {
  margin-right: 0%;
}

/* DEMO CSS !!! */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\0000372}}
.col {
  background-color: #b2dfdb;
  /* DEMO */
  padding: 6px;
  color: white;
  text-align: center;
}
@media only screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\0000372}}
  .col {
    font-size: 12px;
    padding: 6px 0px;
  }
}
@media only screen and (max-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\0000372}}
  .col {
    font-size: 10px;
  }
}

/* RESPONSIVE GRID FRAMEWORK ============================================================ */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003100}}
.span_1of1 {
  width: 100%;
}

/* REDUNDANT - SELF-OBVIOUS, no need to define it */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003102}}
.span_1of2 {
  width: 49%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003103}}
.span_1of2:nth-of-type(2n) {
  margin-right: 0%;
}

/* FOR SINGLE-LINE & MULTI-LINE SCENARIO */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003105}}
.span_1of3 {
  width: 32%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003106}}
.span_1of3:nth-of-type(3n) {
  margin-right: 0%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003108}}
.span_1of4 {
  width: 23.5%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003109}}
.span_1of4:nth-of-type(4n) {
  margin-right: 0%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003111}}
.span_1of5 {
  width: 18.4%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003112}}
.span_1of5:nth-of-type(5n) {
  margin-right: 0%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003114}}
.span_1of6 {
  width: 15%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003115}}
.span_1of6:nth-of-type(6n) {
  margin-right: 0%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003117}}
.span_1of7 {
  width: 12.57143%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003118}}
.span_1of7:nth-of-type(7n) {
  margin-right: 0%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003120}}
.span_1of8 {
  width: 10.75%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003121}}
.span_1of8:nth-of-type(8n) {
  margin-right: 0%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003123}}
.span_1of9 {
  width: 9.33333%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003124}}
.span_1of9:nth-of-type(9n) {
  margin-right: 0%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003126}}
.span_1of10 {
  width: 8.2%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003127}}
.span_1of10:nth-of-type(10n) {
  margin-right: 0%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003129}}
.span_1of11 {
  width: 7.27273%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003130}}
.span_1of11:nth-of-type(11n) {
  margin-right: 0%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003132}}
.span_1of12 {
  width: 6.5%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003133}}
.span_1of12:nth-of-type(12n) {
  margin-right: 0%;
}

/* INTERNAL COMBINATIONS */
/* COMBINATIONS of 3 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003143}}
.span_2of3 {
  width: 66%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003144}}
.span_3of3 {
  width: 100%;
  margin-right: 2%;
}

/* COMBINATIONS of 4 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003147}}
.span_2of4 {
  width: 49%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003148}}
.span_3of4 {
  width: 74.5%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003149}}
.span_4of4 {
  width: 100%;
  margin-right: 2%;
}

/* COMBINATIONS of 5 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003152}}
.span_2of5 {
  width: 38.8%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003153}}
.span_3of5 {
  width: 59.2%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003154}}
.span_4of5 {
  width: 79.6%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003155}}
.span_5of5 {
  width: 100%;
  margin-right: 2%;
}

/* COMBINATIONS of 6 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003158}}
.span_2of6 {
  width: 32%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003159}}
.span_3of6 {
  width: 49%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003160}}
.span_4of6 {
  width: 66%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003161}}
.span_5of6 {
  width: 83%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003162}}
.span_6of6 {
  width: 100%;
  margin-right: 2%;
}

/* COMBINATIONS of 7 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003165}}
.span_2of7 {
  width: 27.14286%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003166}}
.span_3of7 {
  width: 41.71429%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003167}}
.span_4of7 {
  width: 56.28571%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003168}}
.span_5of7 {
  width: 70.85714%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003169}}
.span_6of7 {
  width: 85.42857%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003170}}
.span_7of7 {
  width: 100%;
  margin-right: 2%;
}

/* COMBINATIONS of 8 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003173}}
.span_2of8 {
  width: 23.5%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003174}}
.span_3of8 {
  width: 36.25%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003175}}
.span_4of8 {
  width: 49%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003176}}
.span_5of8 {
  width: 61.75%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003177}}
.span_6of8 {
  width: 74.5%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003178}}
.span_7of8 {
  width: 87.25%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003179}}
.span_8of8 {
  width: 100%;
  margin-right: 2%;
}

/* COMBINATIONS of 9 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003182}}
.span_2of9 {
  width: 20.66667%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003183}}
.span_3of9 {
  width: 32%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003184}}
.span_4of9 {
  width: 43.33333%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003185}}
.span_5of9 {
  width: 54.66667%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003186}}
.span_6of9 {
  width: 66%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003187}}
.span_7of9 {
  width: 77.33333%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003188}}
.span_8of9 {
  width: 88.66667%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003189}}
.span_9of9 {
  width: 100%;
  margin-right: 2%;
}

/* COMBINATIONS of 10 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003192}}
.span_2of10 {
  width: 18.4%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003193}}
.span_3of10 {
  width: 28.6%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003194}}
.span_4of10 {
  width: 38.8%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003195}}
.span_5of10 {
  width: 49%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003196}}
.span_6of10 {
  width: 59.2%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003197}}
.span_7of10 {
  width: 69.4%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003198}}
.span_8of10 {
  width: 79.6%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003199}}
.span_9of10 {
  width: 89.8%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003200}}
.span_10of10 {
  width: 100%;
  margin-right: 2%;
}

/* COMBINATIONS of 11 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003203}}
.span_2of11 {
  width: 16.54545%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003204}}
.span_3of11 {
  width: 25.81818%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003205}}
.span_4of11 {
  width: 35.09091%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003206}}
.span_5of11 {
  width: 44.36364%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003207}}
.span_6of11 {
  width: 53.63636%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003208}}
.span_7of11 {
  width: 62.90909%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003209}}
.span_8of11 {
  width: 72.18182%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003210}}
.span_9of11 {
  width: 81.45455%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003211}}
.span_10of11 {
  width: 90.72727%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003212}}
.span_11of11 {
  width: 100%;
  margin-right: 2%;
}

/* COMBINATIONS of 12 */
@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003215}}
.span_2of12 {
  width: 15%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003216}}
.span_3of12 {
  width: 23.5%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003217}}
.span_4of12 {
  width: 32%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003218}}
.span_5of12 {
  width: 40.5%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003219}}
.span_6of12 {
  width: 49%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003220}}
.span_7of12 {
  width: 57.5%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003221}}
.span_8of12 {
  width: 66%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003222}}
.span_9of12 {
  width: 74.5%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003223}}
.span_10of12 {
  width: 83%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003224}}
.span_11of12 {
  width: 91.5%;
  margin-right: 2%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/E\:\/wamp\/www\/carl_github\/cowo-Grid\/assets\/scss\/grid\/_cowo_grid\.scss}line{font-family:\00003225}}
.span_12of12 {
  width: 100%;
  margin-right: 2%;
}
